.Track{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256,256,256,0.8);
}

.Track-action{
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.05rem;
  transition: color 0.25s;
  border: 0;
  background-color: rgba(0,0,0,0);
  color: #fff;
}

.Track-action:hover{
  color: rgba(165,265,265,0.5);
}

.Track-information{
  float: grow 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px;
}

.Track-information p{
  font-size: 0.83rem;
  font-weight:300 ;
  color: rgba(256,256,256,0.8);
}